---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-12">
  <h2 class="text-center text-slate-500">Compatible con las bases de datos NoSQL más populares</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <div class="flex flex-col items-center">
      <Icon class="size-12 md:size-16" name="simple-icons:mongodb" />
      <span class="text-sm text-gray-600 mt-2">MongoDB</span>
    </div>
    <div class="flex flex-col items-center">
      <Icon class="size-12 md:size-16" name="simple-icons:apachecassandra" />
      <span class="text-sm text-gray-600 mt-2">Cassandra</span>
    </div>
    <div class="flex flex-col items-center">
      <Icon class="size-12 md:size-16" name="simple-icons:redis" />
      <span class="text-sm text-gray-600 mt-2">Redis</span>
    </div>
    <div class="flex flex-col items-center">
      <Icon class="size-12 md:size-16" name="simple-icons:firebase" />
      <span class="text-sm text-gray-600 mt-2">Firebase</span>
    </div>
    <div class="flex flex-col items-center">
      <Icon class="size-12 md:size-16" name="simple-icons:amazondynamodb" />
      <span class="text-sm text-gray-600 mt-2">DynamoDB</span>
    </div>
    <!--<div class="flex flex-col items-center">
      <Icon class="size-12 md:size-16" name="simple-icons:elasticsearch" />
      <span class="text-sm text-gray-600 mt-2">Elasticsearch</span>
    </div>-->

  </div>
</div>
